<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layouts/admin.html}">
<head>
<title>Change Password</title>
<meta charset="UTF-8">
<meta content="width=device-width,initial-scale=1.0">

<style>

/* Styles for small screens (up to 767px) */
@media ( max-width : 767px) {
	.main-div {
		height: 100vh; /* Adjusted height for small screens */
	}
}

/* Styles for large screens (768px and above) */
@media ( min-width : 768px) {
	.main-div {
		height: 500px; /* Adjusted height for large screens */
	}
}
</style>

</head>

<body>


	<!-- ------------------>
	<!-- Main Top Nav Bar -->
	<!-- ------------------->



	<!--- ------------------>
	<!---- Main Content ---->
	<!-- ------------------->
	<div layout:fragment="content">
		<div class="container-fluid mt-1 p-0 m-0 main-div">
			<div class="row">
				<div class="text-center col-12 mt-2 mb">
					<h3 class="text-warning fw-bolder d-inline">Change Password</h3>

				</div>


				<div class="col-11 col-md-6 mx-auto text-center mb-3 mt-1">
					<hr class="m-0 mb-2">
					<p th:text="${message}" class="text-info fw-bolder"></p>
					<p th:text="${error}" class="text-danger fw-bolder"></p>
				</div>
				<form th:action="@{/admin/changepassword}" method=post
					th:object="${user}">
					<div class="mb-4 col-11 col-md-5 mx-auto ">
						<label for="password" class="form-label"><i
							class="fa-solid fa-key me-2"></i>Password</label> <input type="password"
							class="form-control" required minlength="3" maxlength="20"
							id="password" placeholder="Enter your password!"
							th:field="*{password}">
					</div>
					<div class="mb-4 col-11 col-md-5 mx-auto ">
						<label for="password" class="form-label"><i
							class="fa-solid fa-key me-2"></i>New Password</label> <input
							type="password" class="form-control" required minlength="3"
							maxlength="20" id="newPassword"
							placeholder="Enter your password!" th:field="*{newPassword}">
					</div>
					<div class="mb-4 col-11 col-md-5 mx-auto ">
						<label for="password" class="form-label"><i
							class="fa-solid fa-key me-2"></i>Confirm Password</label> <input
							type="password" class="form-control" required minlength="3"
							maxlength="20" id="comfirmPassword"
							placeholder="Enter your password!" th:field="*{comfirmPassword}">
					</div>
					<div class="col-11 col-md-5 mx-auto mt-5 d-flex ">
						<button class="btn btn-outline-danger col-6 me-2" type="reset">Reset</button>
						<button class="btn btn-primary col-6 " type="submit">Change</button>
					</div>
				</form>

			</div>

		</div>

	</div>
	<!-- ------------>
	<!-- footer -->
	<!-- ------------>





</body>

</html>