<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layouts/anonymous.html}">
<head>
<title>Food</title>


<style>

/* Styles for small screens (up to 767px) */
@media ( max-width : 767px) {
	.item-image {
		height: 290px; /* Adjusted height for small screens */
	}
}

/* Styles for large screens (768px and above) */
@media ( min-width : 780px) {
	.item-image {
		height: 400px; /* Adjusted height for large screens */
	}
}

@media ( min-width : 992px) {
	.item-image {
		height: 480px; /* Adjusted height for large screens */
	}
}
</style>

</head>
<body>
	<div layout:fragment="content">
		<!--- ------------------>
		<!---- Main Content ---->
		<!-- ------------------->
		<section class="py-5 my-5 overflow-hidden" style="min-height: 100vh;">

			<div class="container">
				<div class="main-body">




					<div class="row mt-3">

						<div class="col-12  col-lg-6 mb-3">
							<div class="d-flex flex-column align-items-center text-center">
								<img class="img-fluid rounded-3 shadow item-image"
									th:src="@{${food.image}}" alt="..." />
							</div>

						</div>


						<div class="card mb-3 col-12  col-lg-6 shadow p-4">
							<div class="card-body">
								<div class="row mb-4">
									<div class="col-12  ms-3">
										<h1 class="mx-auto fw-bold w-100 text-warning"
											th:text="${food.name}"></h1>
									</div>
								</div>
								<div class="row mb-3">

									<div class="col-12 text-secondary ms-3">
										<span class="fs-1 fw-bolder" th:text="${food.category}"></span>
									</div>
								</div>
								<div class="col" style="min-height: 120px;">
									<div class="col-12 text- text-start ms-3">
										<span class="" th:text="${food.description}"></span>
									</div>
								</div>
								<hr>
								<div class="row mb-2">
									<div class="col-12 text- text-start ms-3">
										<h3 class="text-nowrap">
											<span th:text="${food.price}">0.00 </span> MMK

										</h3>
									</div>
								</div>
								<input type="hidden" th:value="${food.restaurantId}"
									id="restaurantId">
								<div class="col-9 mx-auto">
									<a class="col-12 btn btn-lg btn-outline-primary text-dark"
										id="foodBtn" th:target="${food.id}"> Add To Cart</a>
								</div>


							</div>
						</div>
					</div>

				</div>

			</div>

		</section>

		<!-- modal -->
		<!-- Confirm for Cart Fragment -->
		<div th:replace="fragment/modals :: confirmationModal"></div>
		<!-- modal -->
		<!-- Confirm for Cart Fragment -->

	</div>




</body>
</html>