<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layouts/restaurantOwner.html}">
<head>
<title>Payment Type</title>
</head>

<body>




	<!--- ------------------>
	<!---- Main Content ---->
	<!-- ------------------->
	<div layout:fragment="content">

		<div class="container-fluid mt-1 p-2 " style="min-height: 500px;">
			<div class=" row flex-column flex-lg-row ">
				<div class="text-center col">
					<h3 class="text-warning fw-bolder">
						<i class="fa-solid fa-money-bill-transfer me-2"></i>Payment Type
					</h3>
				</div>

			</div>
			<div style="height: 50px;">
				<div class="col position-relative ">
					<button class="btn btn-warning position-absolute end-0 "
						id="addPaymentType" type="button" onclick="openAddPayMentModal()">
						<i class="fa-regular fa-credit-card me-2"></i>Add Payment Type
					</button>
					<p th:text="${addError}" class="text-danger fw-bolder m-0"
						id="addError"></p>
					<p th:text="${addMessage}" class="text-info fw-bolder m-0"
						id="addMessage"></p>
					<p th:text="${message}" class="text-info fw-bolder m-0"
						id="message"></p>
					<p th:text="${error}" class="text-danger fw-bolder m-0" id="error"></p>
					<p th:text="${msg}" class="text-danger fw-bolder m-0" id="msg"></p>
					<input type="hidden" th:value="${paymentTypeId} "
						id="paymentTypeId">
				</div>
			</div>


			<table id="userOrderRecord"
				class="table  align-middle table-responsive scrollable table-striped table-bordered text-center align-middle ">
				<thead class="text-center table-dark align-middle ">
					<tr>
						<th class="text-center">No</th>
						<th class="text-center">Name</th>
						<th class="text-center">PhoneNumber</th>
						<th class="text-center">Bank Account No.</th>
						<th class="text-center">Create Date</th>
						<th class="text-center">Update Date</th>
						<th class="text-center">Action</th>


					</tr>
				</thead>
				<tbody>
					<tr th:each="paymenttype,i: ${paymenttypes}">

						<td scope="row" th:text="${i.index + 1}"></td>
						<td th:text="${paymenttype.PaymentTypeName}"></td>
						<td th:text="${paymenttype.phoneNumber !=null ? paymenttype.phoneNumber :'-'}"></td>
						<td th:text="${paymenttype.accountNumber != null ? paymenttype.accountNumber :'-'}"></td>

						<td th:text="${paymenttype.createDate != null ? paymenttype.createDate:'-'}"></td>
						<td th:text="${paymenttype.updateDate != null ? paymenttype.updateDate:'-'}"></td>
						<td><button type="button" style="margin-right: 15px;"
								th:id="'update-'+${paymenttype.id}"
								th:attr="data-paymenttypeid=${paymenttype.id}, data-paymenttypename=${paymenttype.PaymentTypeName},
													data-paymenttypeacc=${paymenttype.phoneNumber},data-paymenttypebank=${paymenttype.accountNumber}"
								onclick="openUpdatePaymenttypeModal(this)">
								<i class="fa-solid fa-pen-to-square"></i>
							</button>
							<button type="button"
								th:attr="data-paymenttypeid=${paymenttype.id}, data-paymenttypename=${paymenttype.PaymentTypeName}"
								onclick="openDeletePaymenttypeModal(this)">
								<i class="fa-solid fa-trash-can"></i>
							</button></td>

					</tr>

				</tbody>

			</table>

			<!--Delete Payment Modal -->

			<div class="modal fade" id="deletePaymenttypeModal"
				data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
				aria-labelledby="staticBackdropLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h1 align="center" class="modal-title fs-5"
								id="staticBackdropLabel">Delete Payment Type</h1>
							<button type="button" class="btn-close" data-bs-dismiss="modal"
								aria-label="Close"></button>
						</div>
						<div class="modal-body">
							<h3>
								<span class="d-block">Are you sure want to delete</span> " <big
									class="text-warning " id="deletePayMentName"></big>" !

							</h3>
						</div>
						<hr>
						<form th:action="@{/owner/deletePaymenttype}" method="post"
							th:object="${paymentTypeForRestaurant}">
							<div class="modal-footer row">
								<input type="hidden" th:field="*{id}" id="deletePayMentId" /> <input
									type="button" class=" btn btn-outline-primary col me-2"
									data-bs-dismiss="modal" value="No"> <input
									type="submit" class=" btn btn-danger col" value="Yes">
							</div>
						</form>
					</div>
				</div>
			</div>

			<!-- Delete Payment Modal -->

			<!-- Update Payment Modal -->

			<div class="modal fade" id="updatePaymenttypeModal">

				<div class="modal-dialog">
					<div class="modal-content p-3">
						<div class="modal-header">
							<h1 align="center" class="modal-title fs-5 fw-3"
								id="staticBackdropLabel">Update Payment Type</h1>
							<button type="button" class="btn-close" data-bs-dismiss="modal"
								aria-label="Close"></button>
						</div>
						<p th:text="${error}" class="text-danger "></p>
						<p th:text="${message}" class="text-info "></p>
						<form th:action="@{/owner/updatePaymenttype}" method="post"
							th:object="${paymentTypeForRestaurant}" class="was-validated">
							<div class="mb-3">
								<label for="name" class="form-label text-success">PayMentType</label>
								<input type="text" th:field="*{phoneNumber}" oninput="validatePhoneNumber(this)"
									id="updatePayMentacc" class="form-control" /> <input
									type="text" th:field="*{accountNumber}" id="updatePayMentBank"
									class="form-control" oninput="formatBankAccountNumber(this)" maxlength="19"/>
							</div>


							<hr>
							<div class="modal-footer row">
								<input type="hidden" th:field="*{id}" id="updateId" /> <input
									data-bs-dismiss="modal" type="button"
									class="btn btn-outline-danger col me-2" value="Cancel">
								<input type="submit" class="modalBtn btn btn-success col"
									value="Update">
							</div>
						</form>
					</div>
				</div>
			</div>

			<!-- Update Order Modal -->
			<!-- Add Model -->
			<div class="modal fade" id="addPayMentModal" tabindex="-1"
				aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h1 class="modal-title fs-5" id="exampleModalLabel">PayMent
							</h1>
							<button type="button" class="btn-close" data-bs-dismiss="modal"
								aria-label="Close"></button>
						</div>
						<form th:action="@{/owner/addPayMent}" method="post"
							th:object="${paymentTypeForRestaurant}" class="was-validated">
							<div class="modal-body">
								<div class="mb-3">
									<p th:text="${addError}" class="text-danger "></p>
									<label for="payment_id" class="form-label text-success">PayMent
										Account </label> <select th:field="*{select}" class="form-select mb-3"
										onchange="showHideFields()" required>
										<option value="" id="">Select</option>
										<option th:each="payment : ${payMents}"
											th:value="${payment.id}" th:text="${payment.paymentTypeName}"></option>
									</select> <input th:field="*{phoneNumber}" class="form-control"
										type="text" id="phoneNumberField" style="display: none"
										oninput="validatePhoneNumber(this)"
										placeholder="Enter PhoneNumber "> <input
										oninput="formatBankAccountNumber(this)" maxlength="19"
										th:field="*{accountNumber}" class="form-control"
										id="bankAccountField" style="display: none"
										placeholder="Enter  BankAccount ">
								</div>
							</div>
							<div class="modal-footer row">
								<button type="button" class="btn btn-secondary col me-2"
									data-bs-dismiss="modal">Cancel</button>

								<!-- If not exists, allow adding -->
								<button type="submit" id="submitButton"
									class="btn btn-primary col">Add</button>
							</div>
						</form>
					</div>
				</div>
			</div>


		</div>




		<!--- ------------------>
		<!---- Main Content ---->
		<!-- ------------------->


		<!-- ------------>
		<!-- main  -->
		<!-- ------------>

	</div>


	<!-- ------------>
	<!-- footer -->
	<!-- ------------>
</body>

</html>