<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layouts/anonymous.html}">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>User Order Record</title>

</head>

<body>

	<div layout:fragment="content">

		<!--------- table --------->
		<!------- table----- -->
		<!-- -------table------->
		<section class="py-4 overflow-hidden" style="min-height: 100vh;">
			<div class="container">
				<div class="row h-100">
					<div class="col-lg-7 mx-auto text-center mt-5 mb-3">
						<h5 class="fw-bold fs-3 fs-lg-5 lh-sm">User Order Details</h5>
					</div>
					<div class="col-12 card table-responsive shadow mb-4 bg-light ">
						<h4 class="p-2 m-2" th:text=${orderNumber}></h4>
						<table id="userOrderRecord"
							class="table align-middle table-responsive scrollable table-striped table-bordered text-center align-middle ">
							<thead class="table-dark align-middle ">
								<tr class="sticky-top bg-light">
									<th>No.</th>
									<th>Name</th>
									<th>Image</th>
									<th>Quantity</th>
									<th>Unit Price</th>
									<th>Total Amount</th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="orderItem , i: ${orderItems}">
									<td scope="row" th:text="${i.index + 1}"></td>
									<td class="text-nowrap" th:text="${orderItem.name}"></td>
									<td><img th:src="@{${orderItem.image}}" width="50"
										class="rounded" height="60"></td>
									<td class="text-nowrap" th:text="${orderItem.quantity}+'x'"></td>
									<td class="text-nowrap" th:text="${orderItem.price}+' MMK'"></td>
									<td class="text-nowrap text-end fw-bolder"
										th:text="(${orderItem.price}*${orderItem.quantity})+' MMK'"></td>
									<td></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</section>
		<!-- ============================================-->
		<!--------- table --------->
		<!------- table----- -->
		<!-- -------table------->








	</div>

</body>
</html>

